{% extends 'base.html' %}
{% block title %}
    Tea | Data Analysis
{% endblock %}
{% block head %}
    <style>
        #body {
            text-align:center;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}
{% block content %}
   <div id="body">
    <h1>用户信息管理</h1>
    <table border="1" cellspacing="0" width="50%" style="margin:0 auto">
        <tr>
            <th bgcolor="#f0f8ff">序号</th>
            <th bgcolor="#f0f8ff">用户名</th>
            <th bgcolor="#f0f8ff">注册时间</th>
            <th bgcolor="#f0f8ff">操作</th>
        </tr>
        {% for user in users %}
            <tr>
                <th bgcolor="#f0f8ff">{{ loop.index }}</th>
                <th bgcolor="#f0f8ff">{{ user.username }}</th>
                <th bgcolor="#f0f8ff">{{ user.time }}</th>
                <th bgcolor="#f0f8ff"><a href="{{ url_for('update') }}?id={{ user.id }}">更新</a><br><a href="{{ url_for('delete') }}?id={{ user.id }}">删除</a></th>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}